/* General style */
body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    width: 98%;
    margin: 0 auto;
}

h1 {
    font-family: "Shantell Sans";
}

h2 {
    font-family: "Shantell Sans";
    text-transform: uppercase;
    color: rgb(254, 221, 146);
}

h3 {
    font-family: "Shantell Sans";
    color: rgb(168, 188, 210);
}

h4 {
    font-family: "Shantell Sans";
    color: rgb(168, 188, 210);
}
a {
    color: rgb(216,137,142);
    text-decoration: none;
}

#sidenote {
    font-size: 12px;
}

strong {
    color: rgb(101, 170, 173);
}

/* Top navigation */ 
.topnav {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgb(254, 221, 146);
}
        
.topnav a {
    text-decoration: none;
    color: #fff; 
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

#logo {
    width: 150px;
    height: 30px;
    margin-left: 350px;
}
        
#searchbar {
    margin-left: 350px;
    width: 150px;
}
        
.banner {
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}
        
.div-2 {
    text-align: center;
    font-size: 18px;
}


/* Menu section */ 
         
#menu {
    border: none 0;
    width: 1000px;
    margin: auto;
    padding: 0;
    font-weight: bold;
}

#nav {
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}

#nav li {
    font-family: 'Raleway';
    display: inline-block;
    position: relative;
    float: left;
    background: rgb(192,69,67);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
    border-right: 2px solid #000;
    
}
        
#nav li .main {
    margin-bottom: 10px;
}

#nav li a {
    display: inline-block;
    width: 120px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
}
    
#nav li li a {
    font-size: 12px;
}
    
#nav li:hover {
    background: rgb(166,19,29);
}

/*--- Sublist Styles ---*/
#nav ul {
    position: absolute;
    display: none;
}

/*--- Hide Sub Sublists ---*/
#nav li:hover ul ul {
    display: none;
}

/*--- Sublevel UL's display and position on hover ---*/
#nav li:hover ul {
    display: block;
    margin-left: -40px;
} 
        
#nav li li:hover ul {
    margin-left: 80px; 
    margin-top: -38px; 
    display: block;
}

#nav li .level1,
#nav li .level2 {
    font-family: Calibri, sans-serif;
    background-color: rgb(216,137,142);
    border-top: 3px solid #000;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}
        
#nav li .level1:hover,
#nav li .level2:hover {
    background-color: rgb(166,19,29);
}
        
#nav li .level2 {
    width: 250px;
    text-transform: none;
    border-left: 3px solid #000;
}

/* Unordered lists within procedures */ 
.noneol {
    color: white;
    line-height: 180%;
}

.none {
 list-style:initial;
 color:white;
 line-height: 180%;
}

/* Nested unordered lists within procedures */
.nested {
    list-style:initial;
    color: white;
    line-height: 180%;
    list-style-type: circle;
}

.nested2 {
    list-style:initial;
    color: white;
    line-height: 180%;
    list-style-type: square;
}

.nested3 {
    list-style:initial;
    color: white;
    line-height: 180%;
    list-style-type: disc;
}


        

/* Important feature within procedures */

.important {
    font-size: 0.8em;
}


/* Footer */

footer {
    position: fixed;
    bottom: 0;
    text-align: left; 
    font-size: 0.8em;
    width: 100%;
    display: block;

}

/* Responsive design for more than 1400px: */

@media only screen and (min-width: 1400px) {
   #menu {
       border: none 0;
       width: 1300px;
       margin: auto;
       padding: 0;
       font-weight: bold;
    } 
    
    .main, .level1 {
        width: 150px;
    }
    
    #nav li .level1:hover {
        width: 150px;
    }

    #nav li .level2 {
        width: 350px;
        text-transform: none;
        border-left: 3px solid #000;
        margin-left: 30px;
    }
    

    .TNWA {
        width: 150px;
    }
    
    .topnav {
        width: auto;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 2px solid rgb(254, 221, 146);
        }
    
    #searchbar {
        margin-left: 600px;
    }
    
    #logo {
        margin-left: 680px;
    }
    
}